/*------------------------------------
 *Author:FortunaTheme
 *Template:Rivo
 *Version:1.1
 *-------------------------------------
 */
@media screen and (max-width: 3440px) {
  body {
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #383838;
    letter-spacing: 0.8px;
    background: #fff;
  }
.header-area {
  background: #071227;
  background-size: 100%;
  margin-bottom: 82px;
}
  .heading {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
  }
.heading h2 {
  color: #fff;
  font-family: "Martel", serif;
  font-weight: 800;

}
  .heading h5 {
    font-weight: 600;
    padding: 20px 0px;
    color: #fff;
  }
  .heading p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-top: 12px;
    line-height: 24px;
    padding-bottom: 14px;
  }
  .item {
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .item a img {
    width: 100%;
    min-height: 230px;
    box-shadow: 0px 0px 12px #000;
  }
  .item a p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 16px 0px;
    margin-bottom: 22px;
  }
  .item.soon {
  min-height: 230px;
  background: #071227;
  }
  .item.soon p {
  color: #fff;
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 26%;
}
}
@media screen and (max-width: 480px) {
  .item a img {
    width: 100%;
    min-height: 200px;
    box-shadow: 0px 0px 12px #000;
  }
}
